<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <record id="action_import_contacts_wizard" model="ir.actions.act_window">
        <field name="name">Importar Contactos</field>
        <field name="res_model">import.contacts.wizard</field>
        <field name="view_mode">form</field>
        <field name="target">new</field>
    </record>

    <menuitem
            id="menu_imports"
            name="Importaciones"
            parent="contacts.menu_contacts"
            sequence="50"/>


    <menuitem id="menu_import_contacts"
              name="Importar Contactos"
              parent="todopintura_administration.menu_imports"
              action="action_import_contacts_wizard"
              sequence="10"/>

     <record id="action_import_suppliers_wizard" model="ir.actions.act_window">
        <field name="name">Importar Proveedores</field>
        <field name="res_model">import.suppliers.wizard</field>
        <field name="view_mode">form</field>
        <field name="target">new</field>
    </record>
    <menuitem id="menu_import_suppliers"
              name="Importar Proveedores"
              parent="todopintura_administration.menu_imports"
              action="action_import_suppliers_wizard"
              sequence="20"/>

    <record id="action_import_products_wizard" model="ir.actions.act_window">
        <field name="name">Importar Productos</field>
        <field name="res_model">import.products.wizard</field>
        <field name="view_mode">form</field>
        <field name="target">new</field>
    </record>

     <menuitem
            id="menu_imports"
            name="Importaciones"
            parent="stock.menu_stock_root"
            sequence="150"/>

    <menuitem id="menu_import_products"
              name="Importar Productos"
              parent="todopintura_administration.menu_imports"
              action="action_import_products_wizard"
              sequence="110"/>

    <record id="action_import_client_tariffs_wizard" model="ir.actions.act_window">
        <field name="name">Importar Tarifas de clientes</field>
        <field name="res_model">import.client.tariffs.wizard</field>
        <field name="view_mode">form</field>
        <field name="target">new</field>
    </record>
    <menuitem id="menu_client_tariffs_wizard"
              name="Importar Tarifas de clientes"
              parent="todopintura_administration.menu_imports"
              action="action_import_client_tariffs_wizard"
              sequence="120"/>

     <record id="action_import_tpv_categories_wizard" model="ir.actions.act_window">
        <field name="name">Importar Categorias</field>
        <field name="res_model">import.categories.wizard</field>
        <field name="view_mode">form</field>
        <field name="target">new</field>
    </record>
    <menuitem id="menu_import_tpv_categories"
              name="Importar Categorias"
              parent="todopintura_administration.menu_imports"
              action="action_import_tpv_categories_wizard"
              sequence="100"/>

    <record id="action_import_stock_min_wizard" model="ir.actions.act_window">
        <field name="name">Importar Stock Mínimo</field>
        <field name="res_model">import.stock.min.wizard</field>
        <field name="view_mode">form</field>
        <field name="target">new</field>
    </record>
    <menuitem id="menu_import_stock_min"
              name="Importar Stock Mínimo"
              parent="todopintura_administration.menu_imports"
              action="action_import_stock_min_wizard"
              sequence="130"/>

     <record id="action_import_stock_in_hand_wizard" model="ir.actions.act_window">
        <field name="name">Importar Existencias</field>
        <field name="res_model">import.stock.in.hand.wizard</field>
        <field name="view_mode">form</field>
        <field name="target">new</field>
    </record>
    <menuitem id="menu_import_stock_in_hand"
              name="Importar Existencias"
              parent="todopintura_administration.menu_imports"
              action="action_import_stock_in_hand_wizard"
              sequence="140"/>
</odoo>
