<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <record id="action_import_contacts_wizard" model="ir.actions.act_window">
        <field name="name">Importar Contactos</field>
        <field name="res_model">import.contacts.wizard</field>
        <field name="view_mode">form</field>
        <field name="target">new</field>
    </record>
    <menuitem id="menu_import_contacts"
              name="Importar Contactos"
              parent="contacts.menu_contacts"
              action="action_import_contacts_wizard"
              sequence="30"/>

     <record id="action_import_suppliers_wizard" model="ir.actions.act_window">
        <field name="name">Importar Proveedores</field>
        <field name="res_model">import.suppliers.wizard</field>
        <field name="view_mode">form</field>
        <field name="target">new</field>
    </record>
    <menuitem id="menu_import_suppliers"
              name="Importar Proveedores"
              parent="contacts.menu_contacts"
              action="action_import_suppliers_wizard"
              sequence="40"/>

    <record id="action_import_products_wizard" model="ir.actions.act_window">
        <field name="name">Importar Productos</field>
        <field name="res_model">import.products.wizard</field>
        <field name="view_mode">form</field>
        <field name="target">new</field>
    </record>
    <menuitem id="menu_import_products"
              name="Importar Productos"
              parent="stock.menu_stock_root"
              action="action_import_products_wizard"
              sequence="110"/>
</odoo>
